{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.0/css/bootstrap.min.css">
    <script src="http://cdn.bootcss.com/jquery/1.11.1/jquery.min.js"></script>
    <title>web之眼</title>
</head>
<body style="background-image:url({% static 'images/background.png' %})">


<div id="mainbody">
  <div style="margin-top:180px;">
    <div class="container">
        <form class="form-inline text-center" action="/search/" method="GET" onsubmit="GetInfo();return false;">
        <div class="form-group">
            {% csrf_token %}
            <label class="control-label" for="inputurls" style="color:red;font-size:16px;">search</label>
            <select name="type">
<option value="ip">ip搜索</option>
<option value="title">title搜索</option>
<option value="header">header搜索</option>
</select>
          <input type="text" class="input-lg form-control" value="" id="search" name="search">
          <button type="submit" class="btn btn-lg btn-danger">搜索</button><br><br>
            </div>
<table width="426" height="84" cellspacing="1" cellpadding="0" border="0" bgcolor="#5C87B2" align="center" id="table3">
  <tbody>

    <tr bgcolor="#FFFFFF">
          {%  for i in result_list %}
        <p style="color:lawngreen;font-size:16px;">ip :   <a href="{{ i.ip }}" target="view_window">{{ i.ip }}</a>   </p><br>
              <p style="color:greenyellow;font-size:16px;">title :      {{ i.title }}</p><br>
              <p style="color:limegreen;font-size:16px;">header :      {{ i.header }}</p><br>
        {% endfor %}
    </tr>
  <div id="pagination">
    <ul id="pagination-flickr">
    {% csrf_token %}
    {% if result_list.has_previous %}
    <li class="previous"><a href="?page={{ result_list.previous_page_number }}&search={{ search }}&type={{ tp }}" style="color:red;font-size:16px;">&laquo;上一页</a></li>
    {% else %}
    <li class="previous-off" style="color:red;font-size:16px;">&laquo;上一页</li>
    {% endif %}
     <li class="active" style="color:red;font-size:16px;">{{ result_list.number }}/{{ result_list.paginator.num_pages }}</li>
    {% if result_list.has_next %}
      <li class="next"><a href="?page={{ result_list.next_page_number }}&search={{ search }}&type={{ tp }}" style="color:red;font-size:16px;">下一页 &raquo;</a></li>
    {% else %}
      <li class="next-off" style="color:red;font-size:16px;">下一页 &raquo;</li>
    {% endif %}
   </ul>
</div>

  </tbody>
</body>
</html>
